In [ ]:
import MySQLdb as sql

In [2]:
import pandas as pd

zip_path = './IMDB.zip'
csv_file_name = 'IMDB.csv'  # Optional if the ZIP contains only one CSV file

# If the ZIP contains only one CSV file, you can omit the `csv_file_name`
df = pd.read_csv(zip_path, compression='zip')

In [3]:
df.columns

Index(['imdbID', 'title', 'year', 'rating', 'runtime', 'genre', 'released',
       'director', 'writer', 'cast', 'metacritic', 'imdbRating', 'imdbVotes',
       'poster', 'plot', 'fullplot', 'language', 'country', 'awards',
       'lastupdated', 'type'],
      dtype='object')

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df['imdbVotes'] = df['imdbVotes'].fillna(0)  
df = df.loc[df.groupby('imdbID')['imdbVotes'].idxmax()].reset_index(drop=True)

In [9]:
df["imdbRating"]

0        5.9
1        6.7
2        6.2
3        5.9
4        6.9
        ...
44492    NaN
44493    NaN
44494    NaN
44495    NaN
44496    NaN
Name: imdbRating, Length: 44497, dtype: float64

In [10]:
df.head()

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
0,1,Carmencita,1894,NOT RATED,1 min,"Documentary, Short",NaN,William K.L. Dickson,NaN,Carmencita,...,5.9,1035.0,https://m.media-amazon.com/images/M/MV5BMjAzND...,Performing on what looks like a small wooden s...,Performing on what looks like a small wooden s...,NaN,USA,NaN,28:41.7,movie
1,3,Pauvre Pierrot,1892,NaN,4 min,"Animation, Comedy, Short",1892-10-28,�mile Reynaud,NaN,NaN,...,6.7,566.0,NaN,"One night, Arlequin come to see his lover Colo...","One night, Arlequin come to see his lover Colo...",NaN,France,NaN,06:02.7,movie
2,5,Blacksmith Scene,1893,UNRATED,1 min,Short,1893-05-09,William K.L. Dickson,NaN,"Charles Kayser, John Ott",...,6.2,1189.0,NaN,Three men hammer on an anvil and pass a bottle...,A stationary camera looks at a large anvil wit...,NaN,USA,1 win.,03:50.1,movie
3,8,Edison Kinetoscopic Record of a Sneeze,1894,NaN,1 min,"Documentary, Short",1894-01-09,William K.L. Dickson,NaN,Fred Ott,...,5.9,988.0,NaN,A man (Thomas Edison's assistant) takes a pinc...,A man (Edison's assistant) takes a pinch of sn...,NaN,USA,NaN,21:07.1,movie
4,10,Employees Leaving the Lumi�re Factory,1895,NaN,1 min,"Documentary, Short",1895-03-22,Louis Lumi�re,NaN,NaN,...,6.9,3478.0,NaN,A man opens the big gates to the Lumi�re facto...,A man opens the big gates to the Lumi�re facto...,NaN,France,NaN,29:17.6,movie

In [ ]:
##Genres
##Rating and awards
##Fullplot of the movie
##Country
##Crew - director, write and cast

## Creating the tables

In [5]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(
        host='mysqlsrv1.cs.tau.ac.il',
        database='omeryosef',
        user='omeryosef',
        password='omery58087'
    )
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 2003 (HY000): Can't connect to MySQL server on 'mysqlsrv1.cs.tau.ac.il:3306' (10060)