In [73]:
import pandas as pd
from queries_db_script import create_connection, query_1
import mysql

In [74]:
create_connection()

TypeError: mysql.connector.pooling.connect() argument after ** must be a mapping, not CMySQLConnection

In [52]:
def create_connection():
    connection_params = {
        "host": "localhost",
        "database": "omeryosef",
        "user": "omeryosef",
        "password": "omery58087",
        "port": 3305
    }
    print(type(connection_params))

    cnx = mysql.connector.connect(**connection_params)
    return cnx

def query_1(genre = None): ##return movies by their genre
    ##do we need an index on genre?
    cnx = create_connection()
    cursor = cnx.cursor()
    if genre is None:
        genre = input("Put here: ")  # This will prompt the user to input the genre
    if len(genre) == 0:
        genre = "Comedy"
        print("You didn't choose your genre, so I will go with Comedy :)")
    query = f"""
    SELECT og.imdbID AS movieID
           ,og.genre
           ,ot.title
    FROM omeryosef.genres og
    INNER JOIN omeryosef.title ot ON ot.imdbId = og.imdbID
    WHERE MATCH(og.genre) AGAINST('{genre}' IN BOOLEAN MODE)
    """
    cursor.execute(query)

    # Fetch the results
    results = cursor.fetchall()

    # Close the cursor and connection
    cursor.close()
    cnx.close()

    # Return or process the results as needed
    return pd.DataFrame(results)

In [53]:
query_1("Comedy")

<class 'dict'>

,0,1,2
0,3,"Animation, Comedy, Short",Pauvre Pierrot
1,14,"Comedy, Short",Tables Turned on the Gardener
2,131,"Short, Comedy",A Terrible Night
3,138,"Short, Comedy",The Bewitched Inn
4,313,"Short, Comedy",Let Me Dream Again
...,...,...,...
13641,4973270,Comedy,Motor City Motormouth
13642,4974684,Comedy,Kara Bela
13643,4981636,Comedy,Middle School: The Worst Years of My Life
13644,4993964,Comedy,A Fond
13645,5023260,Comedy,The Last Word

In [70]:
import pandas as pd
import queries_db_script as que
import mysql

##You can use the head() method to see all the columns
print(que.query_1("Drama"))

print(que.query_2(1995,2005))

TypeError: mysql.connector.pooling.connect() argument after ** must be a mapping, not CMySQLConnection